body {
    margin: 20px;
}

.container {
    display: grid;
    justify-content: space-evenly;
}

.container:focus {
    outline: none;
}

.robot-report {
    margin: auto;
    padding: 15px 0;
    font-size: 48px;
    font-weight: bold;
}

.table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 50%;
}

.has-robot {
    background-image: url('./img/arrow.png');
    background-repeat: no-repeat;
    background-size: 88px;
}

.has-robot.north {
    transform: rotate(-90deg);
}

.has-robot.east {
    transform: rotate(0deg);
}

.has-robot.south {
    transform: rotate(90deg);
}

.has-robot.west {
    transform: rotate(180deg);
}

.square {
    border: 1px solid #999;
    float: left;
    font-size: 36px;
    font-weight: bold;
    line-height: 88px;
    height: 88px;
    margin: -1px;
    padding: 0;
    text-align: center;
    width: 88px;
}
