body {
    margin: 20px;
}

.table-row {
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 64px;
    height: 64px;
    margin: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
}
